.app__info{
    width: 100%;
    max-width: 240px;
    min-height: 320px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 116.88%;
    color: #FFFFFF;
    padding: 23px 18px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #000;
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
}
.app__info__widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80px;
    max-width: 55px;
}
.app__info__temeprature{
    font-size: 35px;
    align-self: flex-end;
    padding: 18px 0;
}

.app__info__place{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.app__info__adress{
    display: flex;
    flex-direction: column;
    font-style: 14px;
    min-height: 87px;
    position: relative;
}
.app__info__adress::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 12%;
}
.app__info__adress__icon{
    padding: 5px 0;
}
.app__info__adress__text{
    font-size: 12px;
}
.app__info__volume{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 980px) {
    .app__info{
        grid-column: 1/2;
        grid-row: 1/2;
        background: green no-repeat bottom/cover;
        max-width: 100%;
    }
}