.app__main__section__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #C1C1C1;
    padding: 0 10px;
}

@keyframes show{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}